# Instalação

In [ ]:
!pip install mysql-connector-python

# Conexão

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="loja_virtual_2")

print(mydb)

# Executar query SQL

## Select

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="escolas")

sql = "SELECT * FROM estudantes"

mycursor = mydb.cursor()

mycursor.execute(sql)

myresult = mycursor.fetchall() # myresult = lista de tuplas

for row in range(5):
    print(myresult[row])

In [ ]:
myresult[-1]

## Insert

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="escolas")

sql = "INSERT INTO estudantes (school, sex, age) VALUES ('CM', 'F', 40)" 

mycursor = mydb.cursor()

mycursor.execute(sql)

mydb.commit()

### usando parametros

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="escolas")

sql = "INSERT INTO estudantes (school, sex, age) VALUES (%s, %s, %s)" 

parametros = ('RL', 'M', '70')

mycursor = mydb.cursor()

mycursor.execute(sql, parametros)

mydb.commit()

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="escolas")

sql = "INSERT INTO estudantes (school, sex, age) VALUES (%s, %s, %s)" 

colegio = input("Digite a sigla da escola: ")
sexo = input("M ou F: ")
idade = input("Idade: ")

parametros = (colegio, sexo, idade)

mycursor = mydb.cursor()

mycursor.execute(sql, parametros)

mydb.commit()

# Função de inserção

In [ ]:
def insere_BD(colegio, sexo, idade):
    
    import mysql.connector

    mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="escolas")

    sql = "INSERT INTO estudantes (school, sex, age) VALUES (%s, %s, %s)" 

    parametros = (colegio, sexo, idade)

    mycursor = mydb.cursor()

    mycursor.execute(sql, parametros)

    mydb.commit()

In [ ]:
for rodada in range(3):
    
    colegio = input("Digite a sigla da escola: ")
    sexo = input("M ou F: ")
    idade = input("Idade: ")

    insere_BD(colegio, sexo, idade)

In [ ]:
insere_BD("Ui", "F", 77)

# Missão

1 - Conectar MySQL usando Python

2 - Rodar consultas SQL (SELECT e INSERT) de aulas anteriores via Python

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="loja_virtual_2")

print(mydb)

In [ ]:
sql = "SELECT * FROM colaboradores"

mycursor = mydb.cursor()

mycursor.execute(sql)

myresult = mycursor.fetchall()

for row in range(len(myresult)):
    print(myresult[row])

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="loja_virtual_2")

sql = "INSERT INTO colaboradores (id, nome, morada, id_departamento, titulo, anos_de_empresa) VALUES ('12', 'iris gomes', 'rua da juventude', 4, 'assistente', 1)" 

mycursor = mydb.cursor()

mycursor.execute(sql)

mydb.commit()

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="loja_virtual_2")

sql = "INSERT INTO colaboradores (id, nome, morada, id_departamento, titulo, anos_de_empresa) VALUES (%s, %s, %s, %s, %s, %s)"

parametros = ("14", "afonso duarte", "rua 5 de outubro", "2", "assistente", "2")

mycursor = mydb.cursor()

mycursor.execute(sql, parametros)

mydb.commit()

In [ ]:
def insert_colaborador(id, nome, morada, id_departamento, titulo, anos_de_empresa):
    
    import mysql.connector

    mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="loja_virtual_2")

    sql = "INSERT INTO colaboradores (id, nome, morada, id_departamento, titulo, anos_de_empresa) VALUES (%s, %s, %s, %s, %s, %s)" 

    parametros = (id, nome, morada, id_departamento, titulo, anos_de_empresa)

    mycursor = mydb.cursor()

    mycursor.execute(sql, parametros)

    mydb.commit()

In [ ]:
for colaborador in range(1):
    
    id = input("id: ")
    nome = input("nome: ")
    morada = input("morada: ")
    id_departamento = input("id do departamento: ")
    titulo = input("titulo / cargo: ")
    anos_de_empresa = input("quantos anos de empresa: ")

    insert_colaborador(id, nome, morada, id_departamento, titulo, anos_de_empresa)

# NOVO

In [9]:
#Nova base de dados - escolas
import mysql.connector

mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="escolas")
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000019D4D0DA4F0>

### CREATE TABLE

In [ ]:
# Create new table
mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="escolas")
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE professores (id INT PRIMARY KEY AUTO_INCREMENT, school VARCHAR(2), sex VARCHAR(2), age INT)")

In [12]:
# Function for a new table
import mysql.connector

def create_table_escolas():
    mydb = mysql.connector.connect(host="localhost", user="root", password="#SQLiscool1", database="escolas")
    cursor = mydb.cursor()

    table_name = input("Enter the name of the new table: ")
    query = f"CREATE TABLE {table_name} (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(100))"
    cursor.execute(query)
    mydb.commit()

    print(f"Table {table_name} created successfully!")

In [13]:
create_table_escolas()

Enter the name of the new table:  instalacoes

Table instalacoes created successfully!

### INSERT professores

In [ ]:
# Updated function to add new values
def inserir_professores(school, sex, age, subject):
    import mysql.connector
    mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="escolas")
    mycursor = mydb.cursor()

    sql = "INSERT INTO professores (school, sex, age, subject) VALUES (%s, %s, %s, %s)" 
    parametros = (school, sex, age, subject)

    mycursor.execute(sql, parametros)
    mydb.commit()

In [ ]:
# Using function
for professor in range(1):
    school = input("escola: ")
    sex = input("sexo: ")
    age = int(input("idade: "))
    subject = input("subject: ")
    inserir_professores(school, sex, age, subject)

### INSERT estudantes

In [8]:
# funcion for estudantes
def inserir_estudantes(school, sex, age):
    import mysql.connector
    mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="escolas")
    mycursor = mydb.cursor()

    sql = "INSERT INTO estudantes (school, sex, age) VALUES (%s, %s, %s)" 
    parametros = (school, sex, age)

    mycursor.execute(sql, parametros)
    mydb.commit()

In [9]:
# calling function
for estudante in range(1):
    school = input("escola: ")
    sex = input("sexo: ")
    age = int(input("idade: "))
    inserir_estudantes(school, sex, age)

escola:  MS
sexo:  F
idade:  20

### SELECT ALL

In [ ]:
#Select all
import mysql.connector

mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="escolas")

# sql = "SELECT * FROM estudantes"
sql = "SELECT * FROM professores"

mycursor = mydb.cursor()

mycursor.execute(sql)

myresult = mycursor.fetchall()

for row in range(len(myresult)):
    print(myresult[row])

### ALTER TABLE

#### Estudantes

In [3]:
#Alter Table estudantes
import mysql.connector

def alter_table_estudantes():
    mydb = mysql.connector.connect(host="localhost", user="root", password="#SQLiscool1", database="escolas")
    mycursor = mydb.cursor()

    action = input("Would you like to 'ADD COLUMN', 'DROP COLUMN', 'RENAME COLUMN', or 'MODIFY COLUMN'? ")

    if action == "ADD COLUMN":
        column_name = input("Enter the name of the new column: ")
        column_type = input("Enter the data type of the new column: ")
        sql = f"ALTER TABLE estudantes ADD COLUMN {column_name} {column_type}"
    elif action == "DROP COLUMN":
        column_name = input("Enter the name of the column to drop: ")
        sql = f"ALTER TABLE estudantes DROP COLUMN {column_name}"
    elif action == "RENAME COLUMN":
        old_column_name = input("Enter the name of the column to rename: ")
        new_column_name = input("Enter the new name for the column: ")
        sql = f"ALTER TABLE estudantes RENAME COLUMN {old_column_name} TO {new_column_name}"
    elif action == "MODIFY COLUMN":
        column_name = input("Enter the name of the column to modify: ")
        new_column_type = input("Enter the new data type for the column: ")
        sql = f"ALTER TABLE estudantes MODIFY COLUMN {column_name} {new_column_type}"
    else:
        print("Invalid action.")
        return

    mycursor.execute(sql)
    mydb.commit()

    print("Alter table completed successfully.")

# How to call the function: alter_table_estudantes()

In [4]:
#Call function - create new column
alter_table_estudantes()

Would you like to 'ADD COLUMN', 'DROP COLUMN', 'RENAME COLUMN', or 'MODIFY COLUMN'?  ADD COLUMN
Enter the name of the new column:  ginasio
Enter the data type of the new column:  VARCHAR(20)

Alter table completed successfully.

In [ ]:
#Call function - Drop the newly created column
alter_table_estudantes()

#### Professores

In [1]:
#Same function but for table: professores
import mysql.connector

def alter_table_professores():
    mydb = mysql.connector.connect(host="localhost", user="root", password="#SQLiscool1", database="escolas")
    mycursor = mydb.cursor()

    action = input("Would you like to 'ADD COLUMN', 'DROP COLUMN', 'RENAME COLUMN', or 'MODIFY COLUMN'? ")

    if action == "ADD COLUMN":
        column_name = input("Enter the name of the new column: ")
        column_type = input("Enter the data type of the new column: ")
        sql = f"ALTER TABLE professores ADD COLUMN {column_name} {column_type}"
    elif action == "DROP COLUMN":
        column_name = input("Enter the name of the column to drop: ")
        sql = f"ALTER TABLE professores DROP COLUMN {column_name}"
    elif action == "RENAME COLUMN":
        old_column_name = input("Enter the name of the column to rename: ")
        new_column_name = input("Enter the new name for the column: ")
        sql = f"ALTER TABLE professores RENAME COLUMN {old_column_name} TO {new_column_name}"
    elif action == "MODIFY COLUMN":
        column_name = input("Enter the name of the column to modify: ")
        new_column_type = input("Enter the new data type for the column: ")
        sql = f"ALTER TABLE professores MODIFY COLUMN {column_name} {new_column_type}"
    else:
        print("Invalid action.")
        return

    mycursor.execute(sql)
    mydb.commit()

    print("Alter table completed successfully.")

# How to call the function: alter_table_professores()

In [2]:
# Using new funcion on table estudantes and adding a new column
alter_table_professores()

Would you like to 'ADD COLUMN', 'DROP COLUMN', 'RENAME COLUMN', or 'MODIFY COLUMN'?  ADD COLUMN
Enter the name of the new column:  subject
Enter the data type of the new column:  VARCHAR(20)

Alter table completed successfully.

In [11]:
descrever_tabela("estudantes")

id
school
sex
age
ginasio

In [10]:
import mysql.connector

def descrever_tabela(nome_tabela):
    mydb = mysql.connector.connect(host = "localhost", user="root", password="#SQLiscool1", database="escolas")
    
    sql = f"SHOW COLUMNS FROM {nome_tabela};"

    mycursor = mydb.cursor()

    mycursor.execute(sql)

    myresult = mycursor.fetchall()

    for row in range(len(myresult)):
        print(myresult[row][0])

In [12]:
import mysql.connector

def alter_table(nome_tabela):
    mydb = mysql.connector.connect(host="localhost", user="root", password="#SQLiscool1", database="escolas")
    mycursor = mydb.cursor()

    action = input("Would you like to 'ADD COLUMN', 'DROP COLUMN', 'RENAME COLUMN', or 'MODIFY COLUMN'? ")

    if action == "ADD COLUMN":
        column_name = input("Enter the name of the new column: ")
        column_type = input("Enter the data type of the new column: ")
        sql = f"ALTER TABLE {nome_tabela} ADD COLUMN {column_name} {column_type}"
    elif action == "DROP COLUMN":
        column_name = input("Enter the name of the column to drop: ")
        sql = f"ALTER TABLE {nome_tabela} DROP COLUMN {column_name}"
    elif action == "RENAME COLUMN":
        descrever_tabela(nome_tabela)
        old_column_name = input("Enter the name of the column to rename: ")
        new_column_name = input("Enter the new name for the column: ")
        sql = f"ALTER TABLE {nome_tabela} RENAME COLUMN {old_column_name} TO {new_column_name}"
    elif action == "MODIFY COLUMN":
        column_name = input("Enter the name of the column to modify: ")
        new_column_type = input("Enter the new data type for the column: ")
        sql = f"ALTER TABLE {nome_tabela} MODIFY COLUMN {column_name} {new_column_type}"
    else:
        print("Invalid action.")
        return

    mycursor.execute(sql)
    mydb.commit()

    print("Alter table completed successfully.")

In [13]:
alter_table("professores")

Would you like to 'ADD COLUMN', 'DROP COLUMN', 'RENAME COLUMN', or 'MODIFY COLUMN'?  RENAME COLUMN

id
school
sex
age
disciplina

Enter the name of the column to rename:  disciplina
Enter the new name for the column:  subject

Alter table completed successfully.