# Imports

In [1]:
import pandas as pd

# Inputs

In [2]:
df_filmes_sw = pd.read_csv("filmes_starwars.csv", sep=";")

FileNotFoundError: [Errno 2] No such file or directory: 'filmes_starwars.csv'

In [ ]:
df_filmes_sw.head()

,titulo,ano,diretor,escritores,atores_principais,atores_principais2,atores_principais3,Unnamed: 7,avaliacao,budget,espectadores
0,Episodio IV: Uma Nova Esperanca,1977,George Lucas,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,NaN,6.5,1150000000,262227
1,Episodio V: O Imperio Contra-Ataca,1980,Irvin Kershner,Leigh Brackett,Mark Hamill,Harrison Ford,Carrie Fisher,NaN,6.6,1150000000,310676
2,Episodio VI: O Retorno de Jedi,1983,Richard Marquand,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,NaN,7.5,1130000000,328802
3,Episodio I: A Ameaca Fantasma,1999,George Lucas,George Lucas,Liam Neeson,Ewan McGregor,Natalie Portman,NaN,8.6,11000000,775398007
4,Episodio II: Ataque dos Clones,2002,George Lucas,George Lucas,Hayden Christensen,Ewan McGregor,Natalie Portman,NaN,8.7,18000000,538375067

In [ ]:
df_filmes_sw.shape

(9, 10)

In [ ]:
df_curiosidades_sw = pd.read_csv("curiosidades_starwars.csv")

In [ ]:
df_curiosidades_sw.head()

        nome                                          descricao     tipo
0   Tatooine         Um deserto árido e remoto no sistema Tatoo  Planeta
1       Hoth                       Um planeta gelado e inóspito  Planeta
2  Coruscant             Um planeta-cidade do centro da galáxia  Planeta
3      Naboo  Um planeta cheio de beleza natural e cultura s...  Planeta
4     Bespin           Um planeta gasoso com cidades flutuantes  Planeta

In [ ]:
df_curiosidades_sw.shape

(22, 3)

# Deletando colunas

In [ ]:
df_filmes_sw.drop("Unnamed: 7", axis=1, inplace=True)   # axis = co1umn e axis = r0w

In [ ]:
df_filmes_sw.head()

,titulo,ano,diretor,escritores,atores_principais,atores_principais2,atores_principais3,avaliacao,budget,espectadores
0,Episodio IV: Uma Nova Esperanca,1977,George Lucas,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,6.5,1150000000,262227
1,Episodio V: O Imperio Contra-Ataca,1980,Irvin Kershner,Leigh Brackett,Mark Hamill,Harrison Ford,Carrie Fisher,6.6,1150000000,310676
2,Episodio VI: O Retorno de Jedi,1983,Richard Marquand,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,7.5,1130000000,328802
3,Episodio I: A Ameaca Fantasma,1999,George Lucas,George Lucas,Liam Neeson,Ewan McGregor,Natalie Portman,8.6,11000000,775398007
4,Episodio II: Ataque dos Clones,2002,George Lucas,George Lucas,Hayden Christensen,Ewan McGregor,Natalie Portman,8.7,18000000,538375067

# Adicionando colunas

In [ ]:
df_filmes_sw["oscars"] = [10, 5, 2, 1, 0, 2, 3, 0, 0]

In [ ]:
df_filmes_sw.head()

,titulo,ano,diretor,escritor_principal,ator_principal,coadjuvante1,coadjuvante2,avaliacao,budget,espectadores,oscars
0,Episodio IV: Uma Nova Esperanca,1977,George Lucas,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,6.5,1150000000,262227,10
1,Episodio V: O Imperio Contra-Ataca,1980,Irvin Kershner,Leigh Brackett,Mark Hamill,Harrison Ford,Carrie Fisher,6.6,1150000000,310676,5
2,Episodio VI: O Retorno de Jedi,1983,Richard Marquand,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,7.5,1130000000,328802,2
3,Episodio I: A Ameaca Fantasma,1999,George Lucas,George Lucas,Liam Neeson,Ewan McGregor,Natalie Portman,8.6,11000000,775398007,1
4,Episodio II: Ataque dos Clones,2002,George Lucas,George Lucas,Hayden Christensen,Ewan McGregor,Natalie Portman,8.7,18000000,538375067,0

In [ ]:
df_filmes_sw["diferenca_ano_atual"] =  2023-df_filmes_sw["ano"]

In [ ]:
df_filmes_sw.head()

,titulo,ano,diretor,escritor_principal,ator_principal,coadjuvante1,coadjuvante2,avaliacao,budget,espectadores,oscars,diferenca_ano_atual
0,Episodio IV: Uma Nova Esperanca,1977,George Lucas,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,6.5,1150000000,262227,10,46
1,Episodio V: O Imperio Contra-Ataca,1980,Irvin Kershner,Leigh Brackett,Mark Hamill,Harrison Ford,Carrie Fisher,6.6,1150000000,310676,5,43
2,Episodio VI: O Retorno de Jedi,1983,Richard Marquand,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,7.5,1130000000,328802,2,40
3,Episodio I: A Ameaca Fantasma,1999,George Lucas,George Lucas,Liam Neeson,Ewan McGregor,Natalie Portman,8.6,11000000,775398007,1,24
4,Episodio II: Ataque dos Clones,2002,George Lucas,George Lucas,Hayden Christensen,Ewan McGregor,Natalie Portman,8.7,18000000,538375067,0,21

# Nomeando colunas

In [ ]:
df_filmes_sw.columns = ["titulo", "ano", "diretor","escritores","atores_principais","coadjuvante1", "coadjuvante2", "avaliacao",	"budget", 	"espectadores" ]

In [ ]:
df_filmes_sw.head()

,titulo,ano,diretor,escritores,atores_principais,coadjuvante1,coadjuvante2,avaliacao,budget,espectadores
0,Episodio IV: Uma Nova Esperanca,1977,George Lucas,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,6.5,1150000000,262227
1,Episodio V: O Imperio Contra-Ataca,1980,Irvin Kershner,Leigh Brackett,Mark Hamill,Harrison Ford,Carrie Fisher,6.6,1150000000,310676
2,Episodio VI: O Retorno de Jedi,1983,Richard Marquand,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,7.5,1130000000,328802
3,Episodio I: A Ameaca Fantasma,1999,George Lucas,George Lucas,Liam Neeson,Ewan McGregor,Natalie Portman,8.6,11000000,775398007
4,Episodio II: Ataque dos Clones,2002,George Lucas,George Lucas,Hayden Christensen,Ewan McGregor,Natalie Portman,8.7,18000000,538375067

In [ ]:
df_filmes_sw.rename(columns={"escritores":"escritor_principal", "atores_principais":"ator_principal"}, inplace=True)

In [ ]:
df_filmes_sw.head()

,titulo,ano,diretor,escritor_principal,ator_principal,coadjuvante1,coadjuvante2,avaliacao,budget,espectadores
0,Episodio IV: Uma Nova Esperanca,1977,George Lucas,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,6.5,1150000000,262227
1,Episodio V: O Imperio Contra-Ataca,1980,Irvin Kershner,Leigh Brackett,Mark Hamill,Harrison Ford,Carrie Fisher,6.6,1150000000,310676
2,Episodio VI: O Retorno de Jedi,1983,Richard Marquand,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,7.5,1130000000,328802
3,Episodio I: A Ameaca Fantasma,1999,George Lucas,George Lucas,Liam Neeson,Ewan McGregor,Natalie Portman,8.6,11000000,775398007
4,Episodio II: Ataque dos Clones,2002,George Lucas,George Lucas,Hayden Christensen,Ewan McGregor,Natalie Portman,8.7,18000000,538375067

# Selecionar uma coluna

In [ ]:
diretor = df_filmes_sw["diretor"]

In [ ]:
diretor

0        George Lucas
1      Irvin Kershner
2    Richard Marquand
3        George Lucas
4        George Lucas
5        George Lucas
6         J.J. Abrams
7        Rian Johnson
8         J.J. Abrams
Name: diretor, dtype: object

In [ ]:
df_diretor_titulo = df_filmes_sw[["diretor", "titulo"]]

In [ ]:
df_diretor_titulo

            diretor                              titulo
0      George Lucas     Episodio IV: Uma Nova Esperanca
1    Irvin Kershner  Episodio V: O Imperio Contra-Ataca
2  Richard Marquand      Episodio VI: O Retorno de Jedi
3      George Lucas       Episodio I: A Ameaca Fantasma
4      George Lucas      Episodio II: Ataque dos Clones
5      George Lucas   Episodio III: A Vinganca dos Sith
6       J.J. Abrams  Episodio VII: O Despertar da Forca
7      Rian Johnson      Episodio VIII: Os Ultimos Jedi
8       J.J. Abrams   Episodio IX: A Ascensao Skywalker

# Selecionando uma linha

In [ ]:
filme1 = df_filmes_sw.iloc[0]

In [ ]:
filme1

titulo                Episodio IV: Uma Nova Esperanca
ano                                              1977
diretor                                  George Lucas
escritor_principal                       George Lucas
ator_principal                            Mark Hamill
coadjuvante1                            Harrison Ford
coadjuvante2                            Carrie Fisher
avaliacao                                         6.5
budget                                     1150000000
espectadores                                   262227
Name: 0, dtype: object

# Selecionando várias linhas

In [ ]:
primeira_trilogia = df_filmes_sw.iloc[0:3]

In [ ]:
primeira_trilogia.ano.mean()

1980.0

In [ ]:
segunda_trilogia = df_filmes_sw.iloc[3:6]

In [ ]:
segunda_trilogia.ano.mean()

2002.0

In [ ]:
segunda_trilogia.iloc[2].ano - primeira_trilogia.iloc[2].ano

22

# Selicionando com loc

In [ ]:
df_filmes_sw.loc[df_filmes_sw["diretor"]=="George Lucas"]

,titulo,ano,diretor,escritor_principal,ator_principal,coadjuvante1,coadjuvante2,avaliacao,budget,espectadores
0,Episodio IV: Uma Nova Esperanca,1977,George Lucas,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,6.5,1150000000,262227
3,Episodio I: A Ameaca Fantasma,1999,George Lucas,George Lucas,Liam Neeson,Ewan McGregor,Natalie Portman,8.6,11000000,775398007
4,Episodio II: Ataque dos Clones,2002,George Lucas,George Lucas,Hayden Christensen,Ewan McGregor,Natalie Portman,8.7,18000000,538375067
5,Episodio III: A Vinganca dos Sith,2005,George Lucas,George Lucas,Hayden Christensen,Ewan McGregor,Natalie Portman,8.3,32500000,475106177

# Filtros

In [ ]:
df_filmes_sw.loc[(df_filmes_sw["ano"]>2000)]

,titulo,ano,diretor,escritor_principal,ator_principal,coadjuvante1,coadjuvante2,avaliacao,budget,espectadores
4,Episodio II: Ataque dos Clones,2002,George Lucas,George Lucas,Hayden Christensen,Ewan McGregor,Natalie Portman,8.7,18000000,538375067
5,Episodio III: A Vinganca dos Sith,2005,George Lucas,George Lucas,Hayden Christensen,Ewan McGregor,Natalie Portman,8.3,32500000,475106177
6,Episodio VII: O Despertar da Forca,2015,J.J. Abrams,Lawrence Kasdan,Daisy Ridley,John Boyega,Oscar Isaac,7.9,200000000,936662225
7,Episodio VIII: Os Ultimos Jedi,2017,Rian Johnson,Rian Johnson,Mark Hamill,Daisy Ridley,Adam Driver,7.0,200000000,1332539889
8,Episodio IX: A Ascensao Skywalker,2019,J.J. Abrams,Chris Terrio,Daisy Ridley,Adam Driver,John Boyega,6.5,275000000,1074144242

In [ ]:
df_filmes_sw.loc[(df_filmes_sw["ano"]>2000) & (df_filmes_sw["ano"]<=2010)]

,titulo,ano,diretor,escritor_principal,ator_principal,coadjuvante1,coadjuvante2,avaliacao,budget,espectadores
4,Episodio II: Ataque dos Clones,2002,George Lucas,George Lucas,Hayden Christensen,Ewan McGregor,Natalie Portman,8.7,18000000,538375067
5,Episodio III: A Vinganca dos Sith,2005,George Lucas,George Lucas,Hayden Christensen,Ewan McGregor,Natalie Portman,8.3,32500000,475106177

In [ ]:
df_filmes_sw.loc[(df_filmes_sw["diretor"]=="George Lucas") | (df_filmes_sw["diretor"]=="J.J. Abrams")]

,titulo,ano,diretor,escritor_principal,ator_principal,coadjuvante1,coadjuvante2,avaliacao,budget,espectadores
0,Episodio IV: Uma Nova Esperanca,1977,George Lucas,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,6.5,1150000000,262227
3,Episodio I: A Ameaca Fantasma,1999,George Lucas,George Lucas,Liam Neeson,Ewan McGregor,Natalie Portman,8.6,11000000,775398007
4,Episodio II: Ataque dos Clones,2002,George Lucas,George Lucas,Hayden Christensen,Ewan McGregor,Natalie Portman,8.7,18000000,538375067
5,Episodio III: A Vinganca dos Sith,2005,George Lucas,George Lucas,Hayden Christensen,Ewan McGregor,Natalie Portman,8.3,32500000,475106177
6,Episodio VII: O Despertar da Forca,2015,J.J. Abrams,Lawrence Kasdan,Daisy Ridley,John Boyega,Oscar Isaac,7.9,200000000,936662225
8,Episodio IX: A Ascensao Skywalker,2019,J.J. Abrams,Chris Terrio,Daisy Ridley,Adam Driver,John Boyega,6.5,275000000,1074144242

# Agrupamento

In [ ]:
df_filmes_sw.groupby("diretor")["oscars"].sum()

diretor
George Lucas        13
Irvin Kershner       5
J.J. Abrams          3
Rian Johnson         0
Richard Marquand     2
Name: oscars, dtype: int64

In [ ]:
df_filmes_sw.groupby("diretor")["avaliacao"].mean()

diretor
George Lucas        8.025
Irvin Kershner      6.600
J.J. Abrams         7.200
Rian Johnson        7.000
Richard Marquand    7.500
Name: avaliacao, dtype: float64

In [ ]:
df_filmes_sw.groupby(["diretor", "ator_principal"])["avaliacao"].mean()

diretor           ator_principal
George Lucas       Hayden Christensen    8.5
                  Liam Neeson            8.6
                  Mark Hamill            6.5
Irvin Kershner    Mark Hamill            6.6
J.J. Abrams       Daisy Ridley           7.2
Rian Johnson      Mark Hamill            7.0
Richard Marquand  Mark Hamill            7.5
Name: avaliacao, dtype: float64

In [ ]:
df_filmes_sw.groupby("diretor").mean()

,ano,avaliacao,budget,espectadores,oscars,diferenca_ano_atual
diretor,,,,,,
George Lucas,1995.75,8.025,3.028750e+08,4.472854e+08,3.25,27.25
Irvin Kershner,1980.00,6.600,1.150000e+09,3.106760e+05,5.00,43.00
J.J. Abrams,2017.00,7.200,2.375000e+08,1.005403e+09,1.50,6.00
Rian Johnson,2017.00,7.000,2.000000e+08,1.332540e+09,0.00,6.00
Richard Marquand,1983.00,7.500,1.130000e+09,3.288020e+05,2.00,40.00

# Ordenar

In [ ]:
avaliacao_diretores = df_filmes_sw.groupby("diretor")["oscars"].mean()

In [ ]:
type(avaliacao_diretores)

pandas.core.series.Series

In [ ]:
avaliacao_diretores = pd.DataFrame(avaliacao_diretores)

In [ ]:
avaliacao_diretores.sort_values(by='diretor')

                  oscars
diretor
George Lucas        3.25
Irvin Kershner      5.00
J.J. Abrams         1.50
Rian Johnson        0.00
Richard Marquand    2.00

In [ ]:
x = df_filmes_sw.sort_values(by='oscars', ascending=False)

# Missão

Manipular um dataframe qualquer e após isso gerar um report do dataframe manipulado. Não é um report do original!