# Markdown

## subtitulo
### subsub...
#### secção

listas
- Primeiro 
- Segundo
- Terceiro

*italico*

**negrito**

# Atalhos - Jupyter

A - Acima

B - aBaixo

DD - Deleta

Shift + Enter - roda a celula e vai para baixo

Ctrl + Enter - roda a celula

Esc - sai de uma célula

Enter - entra em uma célula

# Começando com Python!

# Comentários

In [11]:
# este é um comentario em linha

x = 10
# x é a velocidade do veiculo em km/h
# mudar a velocidade na versao 2.0
# este codigo foi criado durante uma aula

y = 100
# y é a distancia

In [12]:
x = 10
"""
Comentário em bloco
varias 
linhas
linhas
linhas
linhas
a vontade
"""
y = 100

# Variáveis

In [14]:
idade_do_cliente = 40 # snake
idadeDoCliente = 50 # camel

In [19]:
idade = 10
Idade = 20   # case sensitive
IdAde = 30
IDADE = 40

In [20]:
Idade

20

In [26]:
idade = 30

In [27]:
# verificar o tipo

type(idade)

int

In [28]:
# fracamente tipado, isto é, posso mudar o tipo das variaveis a qualquer momento
idade = "trinta"

In [29]:
type(idade)

str

In [66]:
pi = 3.1415

In [67]:
type(pi)

float

# Entrada e Saída

In [35]:
nome = input() 
# entrada padrão = teclado

 Marcio

In [36]:
nome

'Marcio'

In [38]:
print("oi", nome, "bem vindo") 
# saida padrão = ecrã

oi Marcio bem vindo

#### Convertendo entradas

In [1]:
x = int(input())

 5

In [2]:
x

5

In [3]:
x = input()

 10

In [4]:
x

'10'

# Operações matemáticas

In [55]:
x = 150
y = 20

In [63]:
# adição
print(x + y)
# subtracao
print(x - y)
# multiplicacao
print(x * y)
# divisao
print(x / y)
# divisao inteira
print(x // y)
# resto da divisao
print(x % y)
# potencia
print(2**3)
# raiz
print(9**(1/3))

170
130
3000
7.5
7
10
8
2.080083823051904

# Missões

1- Converter euro para dolar e dolar para euro

In [1]:
valor_em_dolar = int(input("Quantos dolars quer converter em euros?"))
valor_em_euro = valor_em_dolar * 1.01247
print("O valor em euros é: ", valor_em_euro)

Quantos dolars quer converter em euros?

 100

O valor em euros é:  101.247

In [2]:
valor_em_dolar = int(input("Quantos dolars quer converter em euros?"))
valor_em_euro = valor_em_dolar * 1.01247
print("O valor em euros é: ", valor_em_euro)

Quantos dolars quer converter em euros? 100

O valor em euros é:  101.247

In [16]:
valor_em_euro = int(input("Quantos euros quer converter em dolars?"))
valor_em_dolar = valor_em_euro * 0.98751
print("O valor em dolar é: ", valor_em_dolar)

Quantos euros quer converter em dolars?1
O valor em dolar é:  0.98751

2 - Converter Cº para Fº e vice-versa

In [21]:
valor_em_C = int(input("insira um valor em Cº para converter para Fº "))
valor_em_F = (valor_em_C * 1.8) + 32
print("O valor em Fº é: ", valor_em_F)

insira um valor em Cº para converter para Fº
30
O valor em Fº é:  86.0

In [4]:
valor_em_F = int(input("Insira um valor em Fº para converter para Cº "))
valor_em_C = (valor_em_F - 32) * 0.5556
print("O valor em Cº é: ", round(valor_em_C, 2))

Insira um valor em Fº para converter para Cº

 60

O valor em Cº é:  15.56

NameError: name 'ola' is not defined

3 - Criar uma conta neste site

https://www.beecrowd.com.br/