# Import

In [1]:
from conexaoBD import CRUD_DAO

# Interface com Usuario

In [6]:
conexao_escola = CRUD_DAO("root", "#SQLiscool1", "world")

mensagem = "Choose a option: \n(1) Create table \n(2) Insert \n(3) Select \n(4) Alter \n(5) Delete \n(6) Drop table \nor type 'exit'\n"

print()
opcao = input(mensagem)

while opcao!="exit":
    
    try:
        if opcao == "1":
            table_name = input("Enter the name of the new table: ")
            conexao_escola.create_table(table_name)
            print(f"Table {table_name} created successfully!")
    
        elif opcao =="2":
            table_name = input("Enter the name of the table: ")
            list_values = input("Enter the list of columns for the insert: ")
            data = input("Enter the data for insert: ")
            conexao_escola.insert_into_table(table_name, list_values, data)
            
            
        elif opcao =="3":
            table_name = input("Enter the name of the table: ")
            list_select = input("Enter the list of columns for the select:")
            limit = input("Enter the limit of results:")
            conexao_escola.select_from_table(table_name, list_select, limit)

        elif opcao =="4":
            erro = False
            table_name = input("Enter the name of the table: ")
            action = input("Would you like to 'ADD COLUMN', 'DROP COLUMN', 'RENAME COLUMN', or 'MODIFY COLUMN'? ").upper()
            
            if action == "ADD COLUMN":
                column_name = input("Enter the name of the new column: ")
                column_type = input("Enter the data type of the new column: ")
                conexao_escola.add_column(table_name, column_name, column_type)
            
            elif action == "DROP COLUMN":
                column_name = input("Enter the name of the column to drop: ")
                conexao_escola.drop_column(table_name, column_name)
            
            elif action == "RENAME COLUMN":
                old_column_name = input("Enter the name of the column to rename: ")
                new_column_name = input("Enter the new name for the column: ")
                conexao_escola.rename_column(table_name, old_column_name, new_column_name)
            
            elif action == "MODIFY COLUMN":
                column_name = input("Enter the name of the column to modify: ")
                new_column_type = input("Enter the new data type for the column: ")
                conexao_escola.modify_column(table_name, column_name, new_column_name)
            
            else:
                print("Invalid action.")
                erro = True
            
            if not(erro):
                print("Alter table completed successfully.")
            
            
        elif opcao=="5":
            table_name = input("Enter the name of the table: ")
            conditions = input("Enter the conditions for the delete: ")
            conexao_escola.delete_rows(table_name, conditions)
            
        elif opcao=="6":
            table_name = input("Enter the name of the table: ")
            conexao_escola.drop_table(table_name)
            
    except Exception as e:
        print(e,"\n")
        
    
    
    opcao = input(mensagem)

Choose a option:
(1) Create table
(2) Insert
(3) Select
(4) Alter
(5) Delete
(6) Drop table
or type 'exit'
 3
Enter the name of the table:  city
Enter the list of columns for the select: *
Enter the limit of results: 20

(1, 'Kabul', 'AFG', 'Kabol', 1780000)
(2, 'Qandahar', 'AFG', 'Qandahar', 237500)
(3, 'Herat', 'AFG', 'Herat', 186800)
(4, 'Mazar-e-Sharif', 'AFG', 'Balkh', 127800)
(5, 'Amsterdam', 'NLD', 'Noord-Holland', 731200)
(6, 'Rotterdam', 'NLD', 'Zuid-Holland', 593321)
(7, 'Haag', 'NLD', 'Zuid-Holland', 440900)
(8, 'Utrecht', 'NLD', 'Utrecht', 234323)
(9, 'Eindhoven', 'NLD', 'Noord-Brabant', 201843)
(10, 'Tilburg', 'NLD', 'Noord-Brabant', 193238)
(11, 'Groningen', 'NLD', 'Groningen', 172701)
(12, 'Breda', 'NLD', 'Noord-Brabant', 160398)
(13, 'Apeldoorn', 'NLD', 'Gelderland', 153491)
(14, 'Nijmegen', 'NLD', 'Gelderland', 152463)
(15, 'Enschede', 'NLD', 'Overijssel', 149544)
(16, 'Haarlem', 'NLD', 'Noord-Holland', 148772)
(17, 'Almere', 'NLD', 'Flevoland', 142465)
(18, 'Arnhem', 'NLD', 'Gelderland', 138020)
(19, 'Zaanstad', 'NLD', 'Noord-Holland', 135621)
(20, 'Â´s-Hertogenbosch', 'NLD', 'Noord-Brabant', 129170)

Choose a option:
(1) Create table
(2) Insert
(3) Select
(4) Alter
(5) Delete
(6) Drop table
or type 'exit'
 4
Enter the name of the table:  city
Would you like to 'ADD COLUMN', 'DROP COLUMN', 'RENAME COLUMN', or 'MODIFY COLUMN'?  rename column
Enter the name of the column to rename:  countrylanguage
Enter the new name for the column:  country_language

ID
Name
CountryCode
District
Population
1054 (42S22): Unknown column 'countrylanguage' in 'city'

Choose a option:
(1) Create table
(2) Insert
(3) Select
(4) Alter
(5) Delete
(6) Drop table
or type 'exit'
 4
Enter the name of the table:  city
Would you like to 'ADD COLUMN', 'DROP COLUMN', 'RENAME COLUMN', or 'MODIFY COLUMN'?  rename column
Enter the name of the column to rename:  countrylanguage
Enter the new name for the column:  country_language

ID
Name
CountryCode
District
Population
1054 (42S22): Unknown column 'countrylanguage' in 'city'

Choose a option:
(1) Create table
(2) Insert
(3) Select
(4) Alter
(5) Delete
(6) Drop table
or type 'exit'
 exit

# Trabalhando com outro BD

In [3]:
from conexaoBD import CRUD_DAO

In [4]:
conexao_bd_movies = CRUD_DAO("root", "root", "sakila")

In [5]:
conexao_bd_movies.select_from_table("actor", "*")

(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33))
(3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33))

[(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33))]

In [6]:
conexao_bd_movies.descrever_tabela("actor")

actor_id
first_name
last_name
last_update