# CRUD DAO

In [3]:
import mysql.connector

class CRUD_DAO():
    
    def __init__(self, user, password, db):
        self.mydb = mysql.connector.connect(host = "localhost", user=user, password=password, database=db)
        self.mycursor = self.mydb.cursor()
    
    def create_table(self, table_name):
        query = f"CREATE TABLE {table_name} (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(100))"
        self.mycursor.execute(query)
        self.mydb.commit()

        print(f"Table {table_name} created successfully!")
        
    def select_from_table(self, table_name, list_select, limit =50):
               
        sql = f"SELECT {list_select} FROM {table_name} limit {limit}"

        self.mycursor.execute(sql)

        myresult = self.mycursor.fetchall()

        for row in range(len(myresult)):
            print(myresult[row])
        print()
        
    def insert_into_table(self, table_name, list_values, data):
        sql = f"INSERT INTO {table_name} ({list_values}) VALUES ({data})" 
        self.mycursor.execute(sql)
        self.mydb.commit()
        

    def descrever_tabela(self, nome_tabela):
        sql = f"SHOW COLUMNS FROM {nome_tabela};"
        self.mycursor.execute(sql)
        myresult = self.mycursor.fetchall()

        for row in range(len(myresult)):
            print(myresult[row][0])
            


    def alter_table(self, nome_tabela, action):
        self.mycursor = self.mydb.cursor()

        if action == "ADD COLUMN":
            column_name = input("Enter the name of the new column: ")
            column_type = input("Enter the data type of the new column: ")
            sql = f"ALTER TABLE {nome_tabela} ADD COLUMN {column_name} {column_type}"
        elif action == "DROP COLUMN":
            self.descrever_tabela(nome_tabela)
            column_name = input("Enter the name of the column to drop: ")
            sql = f"ALTER TABLE {nome_tabela} DROP COLUMN {column_name}"
        elif action == "RENAME COLUMN":
            self.descrever_tabela(nome_tabela)
            old_column_name = input("Enter the name of the column to rename: ")
            new_column_name = input("Enter the new name for the column: ")
            sql = f"ALTER TABLE {nome_tabela} RENAME COLUMN {old_column_name} TO {new_column_name}"
        elif action == "MODIFY COLUMN":
            self.descrever_tabela(nome_tabela)
            column_name = input("Enter the name of the column to modify: ")
            new_column_type = input("Enter the new data type for the column: ")
            sql = f"ALTER TABLE {nome_tabela} MODIFY COLUMN {column_name} {new_column_type}"
        else:
            print("Invalid action.")
            return

        self.mycursor.execute(sql)
        self.mydb.commit()

        print("Alter table completed successfully.")

# Main

In [ ]:
conexao_escola = CRUD_DAO("root", "#SQLiscool1", "escolas")

mensagem = "Choose a option: \n(1) Create table \n(2) Insert \n(3) Select \n(4) Alter \n or type 'exit'"

opcao = input(mensagem) 
while opcao!="exit":
    try:
        if opcao == "1":
            table_name = input("Enter the name of the new table: ")
            conexao_escola.create_table(table_name)
    
        elif opcao =="2":
            table_name = input("Enter the name of the table: ")
            list_values = input("Enter the list of columns for the insert: ")
            data = input("Enter the data for insert: ")
            conexao_escola.insert_into_table(table_name, list_values, data)
            
        elif opcao =="3":
            table_name = input("Enter the name of the table: ")
            list_select = input("Enter the list of columns for the select:")
            limit = input("Enter the limit of results:")
            conexao_escola.select_from_table(table_name, list_select, limit)

        elif opcao =="4":
            table_name = input("Enter the name of the table: ")
            action = input("Would you like to 'ADD COLUMN', 'DROP COLUMN', 'RENAME COLUMN', or 'MODIFY COLUMN'? ")           
            conexao_escola.alter_table(table_name, action.upper())
    
    except Exception as e:
        print(e,"\n")    
    
    opcao = input(mensagem)

Choose a option:
(1) Create table
(2) Insert
(3) Select
(4) Alter
 or type 'exit' 3
Enter the name of the table:  *
Enter the list of columns for the select: *
Enter the limit of results: 10

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '* limit 10' at line 1

Choose a option:
(1) Create table
(2) Insert
(3) Select
(4) Alter
 or type 'exit' 3
Enter the name of the table:  escolas
Enter the list of columns for the select: *
Enter the limit of results: 50

1146 (42S02): Table 'escolas.escolas' doesn't exist

Choose a option:
(1) Create table
(2) Insert
(3) Select
(4) Alter
 or type 'exit' 3
Enter the name of the table:  estudantes
Enter the list of columns for the select: *
Enter the limit of results: 50

(4, 'RJ', 'M', 14, None)
(5, 'MG', 'F', 13, None)
(6, 'RJ', 'M', 15, None)
(7, 'MG', 'F', 16, None)
(9, 'MS', 'F', 20, None)

Choose a option:
(1) Create table
(2) Insert
(3) Select
(4) Alter
 or type 'exit' 3
Enter the name of the table:  professores
Enter the list of columns for the select: *
Enter the limit of results: 50

(1, 'RJ', 'M', 26, None)
(2, 'RJ', 'F', 25, None)
(3, 'MG', 'M', 31, None)
(4, 'AZ', 'M', 37, None)
(5, 'AC', 'F', 42, None)
(6, 'GO', 'M', 46, None)
(7, 'ES', 'F', 55, None)
(8, 'PA', 'M', 41, None)
(9, 'MT', 'F', 37, None)
(10, 'MG', 'F', 34, None)
(11, 'ES', 'F', 51, 'maths')
(12, 'MS', 'F', 20, None)